[submodule "lib/dispatch"]
	path = lib/dispatch
	url = https://github.com/noodlehaus/dispatch.git
[submodule "lib/microtpl"]
	path = lib/microtpl
	url = https://github.com/lloydzhou/microtpl
[submodule "lib/ar"]
	path = lib/ar
	url = https://github.com/lloydzhou/activerecord
